
.jobDetails{
	border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-width: 1px;
    border-radius: 25px;
    background-color: AliceBlue;
    padding: 30px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.recs{
	font-size: 30pt;
  text-align: center;
  border-style: solid;
  border-width: 1pt;
  border-radius: 10px;

}
.small{
  font-size: 12pt;
}
a.blueLink{
  color: white;
}
a.blueLink:hover{
 color: #2c3e50;
}