include head.jade
include navbar.jade

section#about.success
  .container
    .row
      .col-lg-12.text-center
        h2 List a new position 
        hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        p
          | You can list a new job and ask people to recommed to it.
      .col-lg-4
        p
          | You can recommend the best for jobs here!
      .col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-lg.btn-outline(href="#")
          | List a new Job
section#jobs
  .container
    .row
      .col-lg-12.text-center
        h2 Listed Positions 
    .row
      .col-lg-8.col-lg-offset-2
          each val, index in jobs
            .panel.panel-default
              .panel-heading
                h3.panel-title
                  val.id
              .panel-body
                val.get("description")