include head.jade
include navbar.jade


section#jobs
  .container
    hr
    .row
      .col-lg-12.text-center
        h2 Submit a Job Listing 
    .row
      .col-lg-8.col-lg-offset-2
        form(action="newJob/positionEntry", method="post")
          .form-group
            label(for="inputCompany") Company Name
            input(type="text", class="form-control", name="inputCompany", placeholder="Enter the name of the company")
          .form-group
            label(for="inputTitle") Job Title
            input(type="text", class="form-control", name="inputTitle", placeholder="Enter the title of the job you are posting")
          .form-group
            label(for="inputDescription") Job Description
            input(type="text", class="form-control", name="inputDescription", placeholder="Enter the description of the job")
          .form-group
            label(for="inputReqs") Requirments
            input(type="text", class="form-control", name="inputReqs", placeholder="list the requirments")
            input(type="text", class="form-control", name="inputReqs", placeholder="list the requirments")
            input(type="text", class="form-control", name="inputReqs", placeholder="list the requirments")
          .form-group
            label(for="inputCity") City
            input(type="text", class="form-control", name="inputCity", placeholder="Where are you hiring")
          .form-group
            label(for="inputPassword") Your Email Address
            input(type="email", class="form-control", name="inputPassword", placeholder="The email you would like to be reached at")
          .text-center
            button(type="submit", class="btn btn-primary") Submit Job

script(src="/javascript/submitJob.js")
script(src="/template/js/classie.js")
script(src="/template/js/cbpAnimatedHeader.js")